.btn {
	background: #34C759;
	border-radius: 43px;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.2em;

	/* Black */

	color: #1A1A1A;

	text-decoration: none;
	padding: 25px 57px;
	margin-top: 40px;

	border: none;

	&-order {
		display: block;
		padding: 0;
		margin: 0;

		width: 100px;
		height: 40px;

		font-family: 'Helvetica Neue';
		font-style: normal;
		font-weight: 900;
		font-size: 10px;
		line-height: 40px;
		/* identical to box height, or 400% */

		text-align: center;
		letter-spacing: 0.2em;
		text-transform: uppercase;

		/* Dark Gray */

		color: #252525;

		&__off {
			background: none;
			color: rgba(255, 255, 255, 0.5);
			border: 2px solid #303030;
			border-radius: 30px;
		}
	}
}
